body {
  background-color: rgb(33,33,33);
}

/* Базовые стили для всех логотипов */
.logo, .foto, .tok {
  display: block; 
  margin-bottom: -9px; 
  position: relative;
  top: -5px;
  height: 55px;
  width: auto; 
  transition: all 0.3s ease; /* Добавляем плавный переход */
}


.logo:hover, .foto:hover, .tok:hover {
  display: block; 
  margin-bottom: -9px; 
  position: relative;
  top: -5px;
  height: 58px;
  width: auto; 
  transition: all 0.3s ease; /* Добавляем плавный переход */
}

.container {
  display: flex;                
  justify-content: center;      
  align-items: center;          
  height: 100vh;                
  margin: 0;       
  position: relative;
  top: -301px;       
}      

.img1, .img2, .img3, .img4 {
  height: 300px;
  width: auto;
  margin: 0 10px; 
  border-radius: 8px;
  transition: all 0.3s ease; /* Добавляем и для изображений */
}

/* Hover для больших изображений */
.img1:hover, .img2:hover, .img3:hover, .img4:hover {
  transform: scale(1.05); /* Увеличение */
  filter: brightness(1.1) drop-shadow(0 10px 20px rgba(0,0,0,0.5));
  cursor: pointer;
} 